
.height180{
    height: 180px;
}
.height100{
    height: 100px;
}
.login-btn{
    width: 45%;
}
.float-left{
    float: left;
}
.signup{
    width: 45%;
    float: right;
}

.header{
    font-size: 16px;
    height: 50px;
    border-bottom: 2px solid #8c8c8c;
}
.header-item{
    text-align: center;
    height: 50px;
    line-height: 50px;
}
.header-item:hover  {
    height: 50px;
    line-height: 50px;
    border-bottom: #8c8c8c solid 5px;
}
.float-right{
    float: right;
}
.time{
    width: 50%;
    float: left;
}