.act_item{
    width: 180px;
    height: 310px;
    float: left;
    border: #8c8c8c 1px solid;
    margin-left: 20px;
    position: relative;
    color: #ffffff;

}

.info-item{
    width: 200px;
    height: 50px;
}
.info{
    height: 70px;
    padding-top: 20px;
}

a{
    color: #080808;
}
#activity{
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
}

.times{
    position: absolute;
    bottom: 0px;

}

.desc{
    width: 100%;
    margin: 0 auto;
    text-align:center;
    position: absolute;
    bottom: 15px;}
li{
    margin-top: 20px;
}